In [ ]:
import random

In [ ]:
salary_list = [random.randint(50000, 100000) for _ in range(1_000_000)]

In [ ]:
import statistics

In [ ]:
%%timeit

statistics.mean(salary_list)

332 ms ± 21.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
import numpy as np

In [ ]:
%%timeit

np.mean(salary_list)

72.3 ms ± 19.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
my_array = np.array([1,2,3,4])

In [ ]:
my_array.mean()

2.5

In [ ]:
# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', "AI Engineer"])

# Base salaries
base_salaries = np.array ([60000, 80000, 75000, 90000, np.nan])

# Bonus rates
bonus_rates = np.array([.05, .1, .8, .12, np.nan])

In [ ]:
total_salaries = base_salaries * (1 + bonus_rates)

total_salaries

array([ 63000.,  88000., 135000., 100800.,     nan])

In [ ]:
np.nanmean(total_salaries)

96700.0

In [ ]:
type(np.nan)

float