# Logical Operators
Logical operators connect two or more conditions and evaluate the truth or falsity of the conditions combined.

| Operator | Name          | Example    |
|----------|---------------|------------|
| `and`    | Logical AND   | `x and y`  |
| `or`     | Logical OR    | `x or y`   |
| `not`    | Logical NOT   | `not x`    |

In [ ]:
job_work_from_home = False
job_health_insurance = False
job_no_degree_mention = True

job_work_from_home or job_health_insurance or job_no_degree_mention

True

In [ ]:
job_work_from_home = not True
job_work_from_home

False

In [ ]:
if(job_work_from_home or job_health_insurance or not job_no_degree_mention):
  print("meets the conditions")

# Membership Operators
Membership operators test for membership in a sequence, such as strings, lists, or tuples.

| Operator | Name            | Example       |
|----------|------------------|---------------|
| `in`     | Membership       | `x in y`     |
| `not in` | Not membership   | `x not in y` |

In [ ]:
"data" in "Data Analyst"

False

In [ ]:
job_skills = ['python', 'r', 'sql']
'python' in job_skills

True

In [ ]:
'java' not in job_skills

True

# Identity Operators
Identity operators check if two variables occupy the same memory location, i.e., are identical.

| Operator  | Name         | Example       |
|-----------|--------------|---------------|
| `is`      | Identity     | `x is y`      |
| `is not`  | Not identity | `x is not y`  |

In [ ]:
Prerak_salary = 100_000
Mehta_salary = 100_000

Prerak_salary == Mehta_salary

True

In [ ]:
Prerak_salary is Mehta_salary

False

In [ ]:
print(id(Prerak_salary))
print(id(Mehta_salary))

136331829036080
136331829036176

In [ ]:
id(Prerak_salary) == id(Mehta_salary)

False

In [ ]:
core_skills = ['Python','R','SQL']

preraks_skills = core_skills

In [ ]:
preraks_skills is core_skills

True

# Bitwise Operators
Bitwise operators perform bit-by-bit operations on binary numbers.

| Operator | Name          | Example   |
|----------|---------------|-----------|
| `&`      | Bitwise AND   | `x & y`   |
| `|`      | Bitwise OR    | `x | y`   |
| `^`      | Bitwise XOR   | `x ^ y`   |
| `~`      | Bitwise NOT   | `~x`      |
| `<<`     | Left Shift    | `x << y`  |
| `>>`     | Right Shift   | `x >> y`  |

In [ ]:
bin(42)

'0b101010'