In [ ]:
import pandas as pd

# Specify the file path inside the 'sample_data' folder
file_path = '/content/sample_data/data_jobs.csv'  # Replace 'your_file_name.csv' with the actual file name

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/data_jobs.csv')

# Extract the 'job_title' column and store its contents as a list
job_list = df['job_title'].tolist()

# Remove any non-string values from the list
job_list = [job for job in job_list if isinstance(job, str)]

# List Comprehension

In [ ]:
numbers = [x for x in 'PYTHON']

In [ ]:
numbers

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
numbers = {x for x in 'PYTHON'}

numbers

{'H', 'N', 'O', 'P', 'T', 'Y'}

In [ ]:
analyst_list = []

for job in job_list:
  if "Data Analyst" in job:
    analyst_list.append(job)

In [ ]:
len(analyst_list)

162708

In [ ]:
analyst_list = [job for job in job_list if "Data Analyst" in job]

len(analyst_list)

162708