# Types of Functions

| Types of Functions         | Example Function       | Section               |
|----------------------------|------------------------|-----------------------|
| Built-In functions         | `max()`               | 1. Getting Started    |
| User-defined functions     | `def my_function(): pass` | 16. Functions       |
| Lambda functions           | `lambda x: x + 1`     | 17. Lambda            |
| Standard Library functions | `math.sqrt()`         | 18. Modules           |
| Third-Party Library Functions | `numpy.array()`    | 19. Library           |

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(3)

6

In [ ]:
(lambda x, y: x*2 + y)(3,4)

10

In [ ]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

# Calculate total_salary of base_salary * (1 + bonus_rate)

# def calculate_salary (base_salary, bonus_rate=.1):
#   total_salary = base_salary * (1 + bonus_rate)
#   return total_salary


total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]