In [ ]:
import my_modules

my_modules.skill_list

my_modules.skill("Python")

'Python is my favourite skill'

In [ ]:
from job_analyzer import *

print(calculate_salary(100000))
print(calculate_bonus(110000, 100000))

help(calculate_salary)

110000.00000000001
0.1
Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    This will calculate total salary of an employe by adding the bonus rate

In [ ]:
salary_list = [98000, 101000, 102000, 99000, 97000]

In [ ]:
from statistics import mean, mode, median

print(mean(salary_list))
print(mode(salary_list))
print(median(salary_list))

99400
98000
99000